body {
    font-family: sans-serif;
    background-color: lightgray;
    padding: 10px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    padding: 5px;
    margin: 2px;
    width: 30%;
    border-radius: 5px;
}
input:hover {
    transform: translateY(-1px);
}

button {
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border: none;
    border-radius: 3px;
}
button.add:hover {
    background-color: darkgray;
    transform: translateY(-1px);
}

button.like {
    background-color: green;
    color: white;
}
button.like:hover {
    background-color: darkgreen;
    transform: translateY(-1px);
}

button.remove {
    background-color: red;
    color: white;
}
button.remove:hover {
    background-color: darkred;
    transform: translateY(-1px);
}

button.toggle {
    background: darkred;
    color: white;
}
button.toggle:hover {
    background-color: maroon;
    transform: translateY(-1px);
}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 10px;
    list-style-type: none;
    margin-top: 20px;
}