body {
    font-family: sans-serif;
    background-color: grey;
    padding: 10px;
}

h1 {
    text-align: center;
}

input[type="text"] {
    padding: 5px;
    margin: 2px;
    width: 30%;
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 5px;
    margin: 3px;
    border: none;
    border-radius: 3px;
}

button.like {
    background-color: green;
    color: white;
}
button.remove {
    background-color: red;
    color: white;
}
button.toggle {
    background: red;
    color: white;
}

.display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 5px;
    list-style-type: none;
    margin-top: 20px;
}